In [2]:
#This is the file where I combine the Homeless_count.csv and the Clean_census_data.csv 
#Into one data file and I will save it into a new csv file as output 
#so now I will import some files such as pandas to read the csv file.
#I also import the numpy function to do aggregation and also matplotlib to create 
#charts and other data visualization types.
%matplotlib notebook
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Next I want to get the csv file I want to import by using the read_csv function/method 
#I am reading the homeless_veterans_data.csv and the clean_census_data.csv

homeless_veterans = pd.read_csv("Homeless_Count2018.csv", usecols=['State','Overall Homeless, 2018','Homeless Veterans, 2018','Sheltered ES Homeless Veterans, 2018','Sheltered TH Homeless Veterans, 2018','Sheltered SH Homeless Veterans, 2018','Sheltered Total Homeless Veterans, 2018','Unsheltered Homeless Veterans, 2018'], encoding="utf-8")
homeless_veterans.head(15)

,State,"Overall Homeless, 2018","Homeless Veterans, 2018","Sheltered ES Homeless Veterans, 2018","Sheltered TH Homeless Veterans, 2018","Sheltered SH Homeless Veterans, 2018","Sheltered Total Homeless Veterans, 2018","Unsheltered Homeless Veterans, 2018"
0,US,"547,264","37,758","10,678","11,968",637,"23,283","14,475"
1,AK,"2,016",132,87,23,0,110,22
2,AL,"3,434",339,170,97,0,267,72
3,AR,"2,712",251,81,69,0,150,101
4,AZ,"9,865",893,217,295,28,540,353
5,CA,"129,972","10,836","1,486","2,000",136,"3,622","7,214"
6,CO,"10,857","1,073",468,187,2,657,416
7,CT,"3,976",190,38,139,0,177,13
8,DC,"6,904",306,119,127,0,246,60
9,DE,"1,082",70,46,17,4,67,3
10,FL,"31,030","2,543",591,959,32,"1,582",961
11,GA,"9,499",705,194,235,0,429,276
12,HI,"6,530",532,127,113,0,240,292
13,IA,"2,749",196,86,68,23,177,19
14,ID,"2,012",215,74,72,0,146,69

In [4]:
#This is another csv file I wanted to pull so I can work on the data
census_data = pd.read_csv("clean_census_data.csv", encoding="utf-8")
census_data.head(63)

   State                  NAME  POP_ESTIMATE_2018
0     US         United States          327167434
1     NE      Northeast Region           56111079
2     MW        Midwest Region           68308744
3      S          South Region          124753948
4      W           West Region           77993663
5     AL               Alabama            4887871
6     AK                Alaska             737438
7     AZ               Arizona            7171646
8     AR              Arkansas            3013825
9     CA            California           39557045
10    CO              Colorado            5695564
11    CT           Connecticut            3572665
12    DE              Delaware             967171
13    DC  District of Columbia             702455
14    FL               Florida           21299325
15    GA               Georgia           10519475
16    HI                Hawaii            1420491
17    ID                 Idaho            1754208
18    IL              Illinois           12741080
19    IN               Indiana            6691878
20    IA                  Iowa            3156145
21    KS                Kansas            2911505
22    KY              Kentucky            4468402
23    LA             Louisiana            4659978
24    ME                 Maine            1338404
25    MD              Maryland            6042718
26    MA         Massachusetts            6902149
27    MI              Michigan            9995915
28    MN             Minnesota            5611179
29    MS           Mississippi            2986530
30    MO              Missouri            6126452
31    MT               Montana            1062305
32    NE              Nebraska            1929268
33    NV                Nevada            3034392
34    NH         New Hampshire            1356458
35    NJ            New Jersey            8908520
36    NM            New Mexico            2095428
37    NY              New York           19542209
38    NC        North Carolina           10383620
39    ND          North Dakota             760077
40    OH                  Ohio           11689442
41    OK              Oklahoma            3943079
42    OR                Oregon            4190713
43    PA          Pennsylvania           12807060
44    RI          Rhode Island            1057315
45    SC        South Carolina            5084127
46    SD          South Dakota             882235
47    TN             Tennessee            6770010
48    TX                 Texas           28701845
49    UT                  Utah            3161105
50    VT               Vermont             626299
51    VA              Virginia            8517685
52    WA            Washington            7535591
53    WV         West Virginia            1805832
54    WI             Wisconsin            5813568
55    WY               Wyoming             577737
56    PR           Puerto Rico            3195153

In [5]:
#This is the section where I drop the rows that provide no use to me
#This is especially true for PR since there was no data for homeless veterans

census_data = census_data.drop([0,1,2,3,4,56], axis = 0)

In [6]:
#Then at this point I want to merge the data so I can aggregate data from one data frame.
#I might have to create an index key of sorts so they can have some commonality to be able to merge
#this is the section where I can see if index has a type 
type(homeless_veterans.index)
type(census_data.index)

pandas.core.indexes.numeric.Int64Index

In [7]:
#Next I merge the data sets 
merge_veterans_data = pd.merge(census_data, homeless_veterans, how='inner', on='State')
merge_veterans_data.head(56)

,State,NAME,POP_ESTIMATE_2018,"Overall Homeless, 2018","Homeless Veterans, 2018","Sheltered ES Homeless Veterans, 2018","Sheltered TH Homeless Veterans, 2018","Sheltered SH Homeless Veterans, 2018","Sheltered Total Homeless Veterans, 2018","Unsheltered Homeless Veterans, 2018"
0,AL,Alabama,4887871,"3,434",339,170,97,0,267,72
1,AK,Alaska,737438,"2,016",132,87,23,0,110,22
2,AZ,Arizona,7171646,"9,865",893,217,295,28,540,353
3,AR,Arkansas,3013825,"2,712",251,81,69,0,150,101
4,CA,California,39557045,"129,972","10,836","1,486","2,000",136,"3,622","7,214"
5,CO,Colorado,5695564,"10,857","1,073",468,187,2,657,416
6,CT,Connecticut,3572665,"3,976",190,38,139,0,177,13
7,DE,Delaware,967171,"1,082",70,46,17,4,67,3
8,DC,District of Columbia,702455,"6,904",306,119,127,0,246,60
9,FL,Florida,21299325,"31,030","2,543",591,959,32,"1,582",961
10,GA,Georgia,10519475,"9,499",705,194,235,0,429,276
11,HI,Hawaii,1420491,"6,530",532,127,113,0,240,292
12,ID,Idaho,1754208,"2,012",215,74,72,0,146,69
13,IL,Illinois,12741080,"10,643",804,341,207,26,574,230
14,IN,Indiana,6691878,"5,258",539,214,252,25,491,48
15,IA,Iowa,3156145,"2,749",196,86,68,23,177,19
16,KS,Kansas,2911505,"2,216",195,141,26,0,167,28
17,KY,Kentucky,4468402,"3,688",369,118,190,0,308,61
18,LA,Louisiana,4659978,"3,059",406,110,227,25,362,44
19,ME,Maine,1338404,"2,516",119,50,55,1,106,13
20,MD,Maryland,6042718,"7,144",574,170,286,14,470,104
21,MA,Massachusetts,6902149,"20,068",985,226,668,40,934,51
22,MI,Michigan,9995915,"8,351",693,251,343,52,646,47
23,MN,Minnesota,5611179,"7,243",301,139,109,2,250,51
24,MS,Mississippi,2986530,"1,352",102,10,27,0,37,65
25,MO,Missouri,6126452,"5,883",507,197,199,19,415,92
26,MT,Montana,1062305,"1,405",198,58,67,0,125,73
27,NE,Nebraska,1929268,"2,421",171,97,71,0,168,3
28,NV,Nevada,3034392,"7,544",723,159,364,7,530,193
29,NH,New Hampshire,1356458,"1,450",143,43,90,3,136,7
30,NJ,New Jersey,8908520,"9,398",555,150,318,2,470,85
31,NM,New Mexico,2095428,"2,551",290,112,65,0,177,113
32,NY,New York,19542209,"91,897","1,224",702,408,74,"1,184",40
33,NC,North Carolina,10383620,"9,268",884,370,365,0,735,149
34,ND,North Dakota,760077,542,9,9,0,0,9,0
35,OH,Ohio,11689442,"10,249",749,286,366,42,694,55
36,OK,Oklahoma,3943079,"3,871",313,125,79,2,206,107
37,OR,Oregon,4190713,"14,476","1,363",299,301,0,600,763
38,PA,Pennsylvania,12807060,"13,512",982,293,567,50,910,72
39,RI,Rhode Island,1057315,"1,101",103,37,63,0,100,3
40,SC,South Carolina,5084127,"3,933",415,137,179,4,320,95
41,SD,South Dakota,882235,"1,159",110,30,59,0,89,21
42,TN,Tennessee,6770010,"7,883",742,223,327,6,556,186
43,TX,Texas,28701845,"25,310","1,935",688,438,16,"1,142",793
44,UT,Utah,3161105,"2,876",239,72,150,0,222,17
45,VT,Vermont,626299,"1,291",104,34,62,0,96,8
46,VA,Virginia,8517685,"5,975",485,299,101,0,400,85
47,WA,Washington,7535591,"22,304","1,636",479,290,1,770,866
48,WV,West Virginia,1805832,"1,243",131,69,37,0,106,25
49,WI,Wisconsin,5813568,"4,907",332,120,200,1,321,11
50,WY,Wyoming,577737,639,47,36,11,0,47,0

In [8]:
#Here I want to get a percentage of the homelessness in the USA . 
#So I need to get the total number of homeless in the USA and divide that by the total populatio
#of the USA.
#here I am setting the index as states so I can pull information by state and all that gobblebygook

new_data_frame = merge_veterans_data.set_index("State")
new_data_frame

,NAME,POP_ESTIMATE_2018,"Overall Homeless, 2018","Homeless Veterans, 2018","Sheltered ES Homeless Veterans, 2018","Sheltered TH Homeless Veterans, 2018","Sheltered SH Homeless Veterans, 2018","Sheltered Total Homeless Veterans, 2018","Unsheltered Homeless Veterans, 2018"
State,,,,,,,,,
AL,Alabama,4887871,"3,434",339,170,97,0,267,72
AK,Alaska,737438,"2,016",132,87,23,0,110,22
AZ,Arizona,7171646,"9,865",893,217,295,28,540,353
AR,Arkansas,3013825,"2,712",251,81,69,0,150,101
CA,California,39557045,"129,972","10,836","1,486","2,000",136,"3,622","7,214"
CO,Colorado,5695564,"10,857","1,073",468,187,2,657,416
CT,Connecticut,3572665,"3,976",190,38,139,0,177,13
DE,Delaware,967171,"1,082",70,46,17,4,67,3
DC,District of Columbia,702455,"6,904",306,119,127,0,246,60
FL,Florida,21299325,"31,030","2,543",591,959,32,"1,582",961
GA,Georgia,10519475,"9,499",705,194,235,0,429,276
HI,Hawaii,1420491,"6,530",532,127,113,0,240,292
ID,Idaho,1754208,"2,012",215,74,72,0,146,69
IL,Illinois,12741080,"10,643",804,341,207,26,574,230
IN,Indiana,6691878,"5,258",539,214,252,25,491,48
IA,Iowa,3156145,"2,749",196,86,68,23,177,19
KS,Kansas,2911505,"2,216",195,141,26,0,167,28
KY,Kentucky,4468402,"3,688",369,118,190,0,308,61
LA,Louisiana,4659978,"3,059",406,110,227,25,362,44
ME,Maine,1338404,"2,516",119,50,55,1,106,13
MD,Maryland,6042718,"7,144",574,170,286,14,470,104
MA,Massachusetts,6902149,"20,068",985,226,668,40,934,51
MI,Michigan,9995915,"8,351",693,251,343,52,646,47
MN,Minnesota,5611179,"7,243",301,139,109,2,250,51
MS,Mississippi,2986530,"1,352",102,10,27,0,37,65
MO,Missouri,6126452,"5,883",507,197,199,19,415,92
MT,Montana,1062305,"1,405",198,58,67,0,125,73
NE,Nebraska,1929268,"2,421",171,97,71,0,168,3
NV,Nevada,3034392,"7,544",723,159,364,7,530,193
NH,New Hampshire,1356458,"1,450",143,43,90,3,136,7
NJ,New Jersey,8908520,"9,398",555,150,318,2,470,85
NM,New Mexico,2095428,"2,551",290,112,65,0,177,113
NY,New York,19542209,"91,897","1,224",702,408,74,"1,184",40
NC,North Carolina,10383620,"9,268",884,370,365,0,735,149
ND,North Dakota,760077,542,9,9,0,0,9,0
OH,Ohio,11689442,"10,249",749,286,366,42,694,55
OK,Oklahoma,3943079,"3,871",313,125,79,2,206,107
OR,Oregon,4190713,"14,476","1,363",299,301,0,600,763
PA,Pennsylvania,12807060,"13,512",982,293,567,50,910,72
RI,Rhode Island,1057315,"1,101",103,37,63,0,100,3
SC,South Carolina,5084127,"3,933",415,137,179,4,320,95
SD,South Dakota,882235,"1,159",110,30,59,0,89,21
TN,Tennessee,6770010,"7,883",742,223,327,6,556,186
TX,Texas,28701845,"25,310","1,935",688,438,16,"1,142",793
UT,Utah,3161105,"2,876",239,72,150,0,222,17
VT,Vermont,626299,"1,291",104,34,62,0,96,8
VA,Virginia,8517685,"5,975",485,299,101,0,400,85
WA,Washington,7535591,"22,304","1,636",479,290,1,770,866
WV,West Virginia,1805832,"1,243",131,69,37,0,106,25
WI,Wisconsin,5813568,"4,907",332,120,200,1,321,11
WY,Wyoming,577737,639,47,36,11,0,47,0

In [9]:
new_data_frame.dtypes

NAME                                       object
POP_ESTIMATE_2018                           int64
Overall Homeless, 2018                     object
Homeless Veterans, 2018                    object
Sheltered ES Homeless Veterans, 2018       object
Sheltered TH Homeless Veterans, 2018       object
Sheltered SH Homeless Veterans, 2018        int64
Sheltered Total Homeless Veterans, 2018    object
Unsheltered Homeless Veterans, 2018        object
dtype: object

In [10]:
#I had to rename the columns because python does not like spaces or commas in column names
#as far as I can tell.

homeless_df = new_data_frame.rename(columns={'NAME':'Abbreviation', 'POP_ESTIMATE_2018':'Pop_Est', 'Overall Homeless, 2018':'Tot_Homeless',
       'Homeless Veterans, 2018':'Homeless_Vet_Total', 'Sheltered ES Homeless Veterans, 2018':'ES_Homeless_Vet',
       'Sheltered TH Homeless Veterans, 2018':'TH_Homeless_Vet',
       'Sheltered SH Homeless Veterans, 2018':'SH_Homeless_Vet',
       'Sheltered Total Homeless Veterans, 2018':'Tot_Shelter_Homeless_Vet',
       'Unsheltered Homeless Veterans, 2018':'Unshelter_Homeless_Vet'})
homeless_df

,Abbreviation,Pop_Est,Tot_Homeless,Homeless_Vet_Total,ES_Homeless_Vet,TH_Homeless_Vet,SH_Homeless_Vet,Tot_Shelter_Homeless_Vet,Unshelter_Homeless_Vet
State,,,,,,,,,
AL,Alabama,4887871,"3,434",339,170,97,0,267,72
AK,Alaska,737438,"2,016",132,87,23,0,110,22
AZ,Arizona,7171646,"9,865",893,217,295,28,540,353
AR,Arkansas,3013825,"2,712",251,81,69,0,150,101
CA,California,39557045,"129,972","10,836","1,486","2,000",136,"3,622","7,214"
CO,Colorado,5695564,"10,857","1,073",468,187,2,657,416
CT,Connecticut,3572665,"3,976",190,38,139,0,177,13
DE,Delaware,967171,"1,082",70,46,17,4,67,3
DC,District of Columbia,702455,"6,904",306,119,127,0,246,60
FL,Florida,21299325,"31,030","2,543",591,959,32,"1,582",961
GA,Georgia,10519475,"9,499",705,194,235,0,429,276
HI,Hawaii,1420491,"6,530",532,127,113,0,240,292
ID,Idaho,1754208,"2,012",215,74,72,0,146,69
IL,Illinois,12741080,"10,643",804,341,207,26,574,230
IN,Indiana,6691878,"5,258",539,214,252,25,491,48
IA,Iowa,3156145,"2,749",196,86,68,23,177,19
KS,Kansas,2911505,"2,216",195,141,26,0,167,28
KY,Kentucky,4468402,"3,688",369,118,190,0,308,61
LA,Louisiana,4659978,"3,059",406,110,227,25,362,44
ME,Maine,1338404,"2,516",119,50,55,1,106,13
MD,Maryland,6042718,"7,144",574,170,286,14,470,104
MA,Massachusetts,6902149,"20,068",985,226,668,40,934,51
MI,Michigan,9995915,"8,351",693,251,343,52,646,47
MN,Minnesota,5611179,"7,243",301,139,109,2,250,51
MS,Mississippi,2986530,"1,352",102,10,27,0,37,65
MO,Missouri,6126452,"5,883",507,197,199,19,415,92
MT,Montana,1062305,"1,405",198,58,67,0,125,73
NE,Nebraska,1929268,"2,421",171,97,71,0,168,3
NV,Nevada,3034392,"7,544",723,159,364,7,530,193
NH,New Hampshire,1356458,"1,450",143,43,90,3,136,7
NJ,New Jersey,8908520,"9,398",555,150,318,2,470,85
NM,New Mexico,2095428,"2,551",290,112,65,0,177,113
NY,New York,19542209,"91,897","1,224",702,408,74,"1,184",40
NC,North Carolina,10383620,"9,268",884,370,365,0,735,149
ND,North Dakota,760077,542,9,9,0,0,9,0
OH,Ohio,11689442,"10,249",749,286,366,42,694,55
OK,Oklahoma,3943079,"3,871",313,125,79,2,206,107
OR,Oregon,4190713,"14,476","1,363",299,301,0,600,763
PA,Pennsylvania,12807060,"13,512",982,293,567,50,910,72
RI,Rhode Island,1057315,"1,101",103,37,63,0,100,3
SC,South Carolina,5084127,"3,933",415,137,179,4,320,95
SD,South Dakota,882235,"1,159",110,30,59,0,89,21
TN,Tennessee,6770010,"7,883",742,223,327,6,556,186
TX,Texas,28701845,"25,310","1,935",688,438,16,"1,142",793
UT,Utah,3161105,"2,876",239,72,150,0,222,17
VT,Vermont,626299,"1,291",104,34,62,0,96,8
VA,Virginia,8517685,"5,975",485,299,101,0,400,85
WA,Washington,7535591,"22,304","1,636",479,290,1,770,866
WV,West Virginia,1805832,"1,243",131,69,37,0,106,25
WI,Wisconsin,5813568,"4,907",332,120,200,1,321,11
WY,Wyoming,577737,639,47,36,11,0,47,0

In [11]:
#This is the section where I want to see the data types of the columns and I will have an idea 
#if there is a data type needs to be converted.
homeless_df.dtypes

Abbreviation                object
Pop_Est                      int64
Tot_Homeless                object
Homeless_Vet_Total          object
ES_Homeless_Vet             object
TH_Homeless_Vet             object
SH_Homeless_Vet              int64
Tot_Shelter_Homeless_Vet    object
Unshelter_Homeless_Vet      object
dtype: object

In [12]:
#This is the point where I need to replace the comma in the columns 
#In order to convert the datatype
homeless_df['Tot_Homeless'] = homeless_df['Tot_Homeless'].str.replace(',','')
homeless_df['Homeless_Vet_Total'] = homeless_df['Homeless_Vet_Total'].str.replace(',','')
homeless_df['ES_Homeless_Vet'] = homeless_df['ES_Homeless_Vet'].str.replace(',','')
homeless_df['TH_Homeless_Vet'] = homeless_df['TH_Homeless_Vet'].str.replace(',','')
homeless_df['Tot_Shelter_Homeless_Vet'] = homeless_df['Tot_Shelter_Homeless_Vet'].str.replace(',','')
homeless_df['Unshelter_Homeless_Vet'] = homeless_df['Unshelter_Homeless_Vet'].str.replace(',','')

In [13]:
#This is to check if the data type for my sake

homeless_df.dtypes

Abbreviation                object
Pop_Est                      int64
Tot_Homeless                object
Homeless_Vet_Total          object
ES_Homeless_Vet             object
TH_Homeless_Vet             object
SH_Homeless_Vet              int64
Tot_Shelter_Homeless_Vet    object
Unshelter_Homeless_Vet      object
dtype: object

In [14]:
#This is the stage where I want to convert the data type into integer for the rest of the columns 
homeless_df['Pop_Est'] = homeless_df['Pop_Est'].astype(float)
homeless_df['Tot_Homeless'] = homeless_df['Tot_Homeless'].astype(float)
homeless_df['Homeless_Vet_Total'] = homeless_df['Homeless_Vet_Total'].astype(float)
homeless_df['ES_Homeless_Vet'] = homeless_df['ES_Homeless_Vet'].astype(float)
homeless_df['TH_Homeless_Vet'] = homeless_df['TH_Homeless_Vet'].astype(float)
homeless_df['SH_Homeless_Vet'] = homeless_df['SH_Homeless_Vet'].astype(float)
homeless_df['Tot_Shelter_Homeless_Vet'] = homeless_df['Tot_Shelter_Homeless_Vet'].astype(float)
homeless_df['Unshelter_Homeless_Vet'] = homeless_df['Unshelter_Homeless_Vet'].astype(float)

In [15]:
#Again checking the datatype
homeless_df.dtypes

Abbreviation                 object
Pop_Est                     float64
Tot_Homeless                float64
Homeless_Vet_Total          float64
ES_Homeless_Vet             float64
TH_Homeless_Vet             float64
SH_Homeless_Vet             float64
Tot_Shelter_Homeless_Vet    float64
Unshelter_Homeless_Vet      float64
dtype: object

In [16]:
#then I will extract information based on the US population.  This should be fun

US_pop_2018 = homeless_df["Pop_Est"].sum()
US_pop_2018

Homeless_pop_2018 = homeless_df["Tot_Homeless"].sum()
Homeless_pop_2018

print(US_pop_2018)
print(Homeless_pop_2018)

US_pop = homeless_df["Pop_Est"]
Homeless_pop = homeless_df["Tot_Homeless"]

327167434.0
547264.0

In [17]:
#This is the percentage of the population that are homeless

percentage = (Homeless_pop_2018/US_pop_2018 * 100).round(2)
percentage

0.17

In [18]:
#Now I want to calculate the percentages of homeless population out of the general population
colors = ["yellowgreen", "red"]
labels = ["US Estimated Population in 2018", "Total Homeless Population in 2018"]
size = [US_pop_2018, Homeless_pop_2018]
#plt.title("The Percantage of the Total Homelessness in the US, 2018")
explode = (0.1, 0.4)

fig, ax = plt.subplots()
ax.pie(size,
       explode = explode,
       labels = labels,
       autopct = '%1.1f%%',
       shadow = False,
       startangle = 45)
ax.axis('equal')  # Equal aspect ratio ensures the pie chart is circular.
ax.set_title('The Percentage of the Total Homelessness in the US, 2018')

Text(0.5, 1.0, 'The Percentage of the Total Homelessness in the US, 2018')

In [19]:
#Saving the pie charts
fig.savefig("Pie_Chart_Homeless_Veterans.png")